<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELECXA - My Profile</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header Section -->
   <header class="header">
        <div class="overlap-group">
            <a th:href="@{/}"><img class="head-logo" src="../img/Headers/Your_paragraph_text_1-removebg-preview.png" alt="ELECXA" /></a>
            
            <div class="header-center">
                <div class="div">
                    <div class="menu">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="text-wrapper-2">Menu</div>
                </div>
                <div class="overlap">
                    <div class="search-normal">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="text-wrapper">Search by Categories, Products</div>
                </div>
            </div>

            <div class="header-right">
                <div class="icon-user">
                    <a id="profileLink">
                        <i class="fas fa-user-circle"></i>
                        <span>Account</span>
                    </a>
                </div>
                <div class="icon-cart-alt">
                    <a id="cartLink">
                        <i class="fas fa-shopping-basket"></i>
                        <span>Cart</span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <!-- Profile Content -->
    <div class="container">
        <a th:href="@{/}" class="back-button">Back to Home</a>
        
        <!-- Profile Tabs -->
        <div class="profile-tabs">
            <div class="tab active" th:classappend="${activeTab == 'profile' ? 'active' : ''}">Profile</div>
            <div class="tab" th:classappend="${activeTab == 'wishlist' ? 'active' : ''}">Wishlist</div>
            <div class="tab" th:classappend="${activeTab == 'orders' ? 'active' : ''}">My Orders</div>
        </div>
        
        <!-- Profile Form -->
        <div class="profile-form-container">
            <form th:action="@{/profile/update}" th:object="${userProfile}" method="post">
                <input type="hidden" name="userId" th:value="${userProfile.userId}" />
                <div class="form-section">
                    <h3 class="section-title">Your Details</h3>
                    <div class="form-row two-column">
                        
                        <div class="form-field">
                            <input type="text" id="firstname" name="firstName" class="input-field" placeholder=" " th:value="${(userProfile.firstName)}">
                            <label for="firstname" class="required">First Name</label>
                            <span class="error-message" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                        </div>
                        
                        <div class="form-field">
                            <input type="text" id="lastname" name="lastName" class="input-field" placeholder=" " th:value="${(userProfile.lastName == null ? '' : userProfile.lastName)}">
                            <label for="lastname" class="required">Last Name</label>
                            <span class="error-message" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                        </div>
                        
                    </div>
                    
                    <div class="form-row two-column">
                        <div class="form-field">
                            <input type="email" id="email" name="email" class="input-field" placeholder=" " th:value="${(userProfile.email == null ? '' : userProfile.email)}">
                            <label for="email" class="required">Email</label>
                            <span class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                        </div>
                        <div class="form-field">
                            <input type="tel" id="phoneNumber" name="phoneNumber" class="input-field" placeholder=" " th:value="${(userProfile.phoneNumber == null ? '' : userProfile.phoneNumber)}">
                            <label for="phoneNumber" class="required">Phone</label>
                            <span class="error-message" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                        </div>
                    </div>
                </div>
                
                <div th:object="${address}" class="form-section">
                    <h3 class="section-title">Shipping Address</h3>
                    <div class="form-row">
                        <div class="form-field">
                            <input type="text" id="doorNoStreetName" name="doorNoStreetName" class="input-field" placeholder=" " th:value="${(address.doorNoStreetName == null ? '' :address.doorNoStreetName)}">
                            <label for="doorNoStreetName" class="required">Address</label>
                            <span class="error-message" th:if="${#fields.hasErrors('doorNoStreetName')}" th:errors="*{doorNoStreetName}"></span>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-field">
                            <input type="text" id="landmark" name="landmark" class="input-field" placeholder=" " th:value="${(address.landmark == null ? '' :address.landmark)}">
                            <label for="landmark">Landmark</label>
                        </div>
                    </div>
                    
                    <div class="form-row three-column">
                        <div class="form-field">
                            <input type="text" id="pincode" name="pincode" class="input-field" placeholder=" " th:value="${(address.pincode == null ? '' :address.pincode)}">
                            <label for="pincode" class="required">Pincode</label>
                            <span class="error-message" th:if="${#fields.hasErrors('pincode')}" th:errors="*{pincode}"></span>
                        </div>
                        
                        <div class="form-field">
                            <input type="text" id="city" name="city" class="input-field" placeholder=" " th:value="${(address.city == null ? '' :address.city)}">
                            <label for="city" class="required">City</label>
                            <span class="error-message" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
                        </div>
                        
                        <div class="form-field">
                            <input type="text" id="state" name="state" class="input-field" placeholder=" " th:value="${(address.state == null ? '' :address.state)}">
                            <label for="state" class="required">State</label>
                            <span class="error-message" th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></span>
                        </div>
                    </div>
                </div>
                
                <div class="edit-button-container">
                    <button type="submit" class="edit-button">Save Changes</button>
                </div>
            </form>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="footer-columns">
                <div class="footer-column">
                    <h3>Shop</h3>
                    <ul>
                        <li><a href="products-page.html">Products</a></li>
                        <li><a href="#">Shipping and Returns</a></li>
                        <li><a href="order-confirmation.html">Track My Order</a></li>
                        <li><a href="profile-new.html">My Account</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Cookie Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Do You Need Help?</h3>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="payment-methods">
                <h3>Payments Accepted</h3>
                <div class="payment-icons">
                    <img src="../img/Footers/image 1.jpg" alt="Visa">
                    <img src="../img/Footers/image 2.jpg" alt="Mastercard">
                    <img src="../img/Footers/image 4.jpg" alt="PayPal">
                    <img src="../img/Footers/image 5.jpg" alt="American Express">
                    <img src="../img/Footers/image 6.jpg" alt="Apple Pay">
                    <img src="../img/Footers/image 7.jpg" alt="Google Pay">
                </div>
            </div>
            
            <div class="footer-divider"></div>
            
            <div class="footer-bottom">
                <div class="footer-logo">
                    <img src="../img/Headers/Your_paragraph_text_1-removebg-preview.png" alt="ELECXA">
                </div>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            
            <div class="footer-divider"></div>
            
            <div class="copyright">
                <p>Elecxa © 2025 All Rights Reserved</p>
            </div>
        </div>
    </footer>
<script>
        document.addEventListener('DOMContentLoaded', function() {
            
            
            const userId = sessionStorage.getItem('userId');
                if (userId) {
                    document.getElementById("profileLink").href = "/profile?id=" + userId;
                    document.getElementById("cartLink").href = "/cart?id=" + userId;

                }                
            
        });
    </script>
    <script src="../js/script.js"></script>
    <script src="../js/profile.js"></script>
</body>
</html>